<div mat-dialog-title [style.background-color]="colorCampanaFondo" [style.color]="colorCampanaTexto"
    class="mat-elevation-z8">
    <div class="row w-100 py-2">
        <div class="col-10 align-items-center">
            <div class="row mx-2">
                <div class="col-12 col-md-5 d-flex align-items-center">
                    <span>{{
                        svcPedidoCabecera.form.get("idPedido")?.value == 0
                          ?"Crear Pedido"
                          :"Editar Pedido"
                      }}
                        en
                    </span>
                </div>
                <div class="col-12 col-md-7">
                    <mat-form-field [formGroup]="svcPedido.pedidoCabecera">
                        <mat-select formControlName="idCampana" placeholder="Seleccione una Campaña">
                            <mat-option value=0 disabled>Seleccione una Campaña</mat-option>
                            <ng-container *ngIf="campanas">
                                <ng-container *ngFor="let option of campanas">
                                    <mat-option *ngIf="option.estado=='Activo'" [value]="option['idCampana']">
                                        {{ option.descripcion }}</mat-option>
                                </ng-container>


                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>


        </div>
        <div class="col-2 d-flex justify-content-end align-items-center">
            <button type="button" mat-fab color="primary" (click)="onClose()" tabIndex="-1">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    </div>

</div>



<form *ngIf="flagCampana != undefined && flagCampana != 0" [formGroup]="svcPedido.formGeneral" (submit)="onSubmit()">
    <div mat-dialog-content class="mx-2">
        <div class="row" [formGroup]="svcPedido.pedidoCabecera">
            <!--FORMULARIO CABECERA-->
            <ng-container *ngFor="let campo of svcPedidoCabecera.camposFormAtipico">
                <!--------TEXT-------->
                <div *ngIf="campo.tipo == 'text'" [class]="campo.cols" class="my-2">
                    <mat-form-field>
                        <input [formControlName]="campo.clave" matInput [placeholder]="campo.titulo" />
                        <mat-error *ngIf="
        svcPedidoCabecera.form.get(campo.clave).invalid &&
        (svcPedidoCabecera.form.get(campo.clave).dirty ||
          svcPedidoCabecera.form.get(campo.clave).touched)
    ">
                            <mat-error *ngIf="svcPedidoCabecera.form.get(campo.clave).errors.required">Este campo es
                                obligatorio.</mat-error>
                            <mat-error *ngIf="svcPedidoCabecera.form.get(campo.clave).errors.maxlength">Sobrepaso el
                                numero maximo de caracteres.</mat-error>
                            <mat-error *ngIf="svcPedidoCabecera.form.get(campo.clave).errors.email">Ingrese un email
                                valido.</mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
                <!------------SELECT------------->
                <div *ngIf="campo.tipo == 'select'" [class]="campo.cols" class="my-2">
                    <mat-form-field>
                        <mat-select [formControlName]="campo.clave" [placeholder]="campo.titulo">
                            <ng-container *ngIf="campo.clave == 'idTipoDocumento'">
                                <mat-option>{{ campo.titulo }}</mat-option>
                                <ng-container *ngIf="tiposDocumentos$ | async as tipoDocumento">
                                    <mat-option *ngFor="let option of tipoDocumento.Resultado"
                                        [value]="option['idTipoDocumento']">{{ option.descripcion }}
                                    </mat-option>
                                </ng-container>
                            </ng-container>
                        </mat-select>
                        <mat-error *ngIf="
    svcPedidoCabecera.form.get(campo.clave).invalid &&
    (svcPedidoCabecera.form.get(campo.clave).dirty ||
      svcPedidoCabecera.form.get(campo.clave).touched)
">
                            <mat-error *ngIf="svcPedidoCabecera.form.get(campo.clave).errors.required">Este campo es
                                obligatorio.</mat-error>
                            <mat-error *ngIf="svcPedidoCabecera.form.get(campo.clave).errors.maxlength">Sobrepaso el
                                numero maximo de caracteres.</mat-error>
                            <mat-error *ngIf="svcPedidoCabecera.form.get(campo.clave).errors.email">Ingrese un email
                                valido.</mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </ng-container>
        </div>
        <div class="row">

            <!--FORMULARIO FIBRA-->
            <ng-template #frmFibra>
                <div class="col-12 col-md-6">
                    <ng-container formArrayName="pedidoProductosFibra">
                        <div *ngFor="let _ of svcPedidoProductos.frmProdFibra.controls; index as i">
                            <ng-container [formGroupName]="i">
                                <div class="row">
                                    <ng-container *ngFor="let campo of svcPedidoProductos.camposFormAtipico">
                                        <!--SELECT-->
                                        <div *ngIf="campo.tipo=='select' && svcPedidoProductos.frmProdFibra.controls[i].get(campo.clave).disabled==false"
                                            [class]="campo.cols" class="my-2">
                                            <mat-form-field>
                                                <mat-label class="mx-1">{{campo.titulo}}</mat-label>
                                                <mat-icon matPrefix>add_ic_call</mat-icon>
                                                <mat-select [formControlName]="campo.clave" class="mx-1"
                                                    (selectionChange)="svcPedidoProductos.cambioSelect(i, campo.clave)">
                                                    <ng-container *ngIf="campo.clave=='idPlan'">
                                                        <mat-option disabled>{{ campo.titulo }}</mat-option>
                                                        <mat-option
                                                            *ngFor="let option of svcPedidoProductos.getPlanes(i, svcPedidoProductos.frmProdFibra.value[i].idTipoProducto)"
                                                            [value]="option['idPlan']"
                                                            matTooltip="Este plan se encuentra inactivo"
                                                            [matTooltipDisabled]="option.estado=='Activo'">
                                                            {{ option.plan }}
                                                        </mat-option>
                                                    </ng-container>

                                                </mat-select>
                                                <mat-icon matSuffix matTooltip="Este plan se encuentra inactivo"
                                                    *ngIf="svcPedidoProductos.planInactivo(svcPedidoProductos.frmProdFibra.controls[i].get('idPlan').value)==true"
                                                    color="warn" class="mx-1">error</mat-icon>
                                                <mat-hint
                                                    *ngIf="svcPedidoProductos.planInactivo(svcPedidoProductos.frmProdFibra.controls[i].get('idPlan').value)==true">
                                                    ¡El plan seleccionado se encuentra inactivo!</mat-hint>
                                                <mat-error
                                                    *ngIf="svcPedidoProductos.frmProdFibra.controls[i].get(campo.clave).invalid && (svcPedidoProductos.frmProdFibra.controls[i].get(campo.clave).dirty || svcPedidoProductos.frmProdFibra.controls[i].get(campo.clave).touched)">
                                                    <mat-error
                                                        *ngIf="svcPedidoProductos.frmProdFibra.controls[i].get(campo.clave).errors.required">
                                                        Este campo es obligatorio.</mat-error>
                                                    <mat-error
                                                        *ngIf="svcPedidoProductos.frmProdFibra.controls[i].get(campo.clave).errors.maxlength">
                                                        Sobrepaso el numero maximo de caracteres.
                                                    </mat-error>
                                                    <mat-error
                                                        *ngIf="svcPedidoProductos.frmProdFibra.controls[i].get(campo.clave).errors.email">
                                                        Ingrese un email valido.</mat-error>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
            </ng-template>

            <div class="col-12 col-md-6" *ngIf="svcPedidoProductos.frmProdFibra.value.length==0; else frmFibra">
            </div>

            <!--FORMLARIO LINEAS MOVILES-->
            <div class="col-12 col-md-6 align-items-end">
                <button class="w-100 my-2" type="button" mat-stroked-button color="primary" (click)="agregarProducto()"
                    [disabled]="svcPedidoProductos.frmProdLineaMovil.value.length>4">
                    <mat-icon>add</mat-icon>Agregar Linea Movil
                </button>
            </div>

            <ng-container *ngIf="svcPedidoProductos.frmProdLineaMovil.value.length != 0">
                <div class="col-12">
                    <ng-container formArrayName="pedidoProductosLineaMovil">
                        <div *ngFor="let _ of svcPedidoProductos.frmProdLineaMovil.controls; index as i">
                            <ng-container [formGroupName]="i">
                                <div class="row mx-2">
                                    <ng-container *ngFor="let campo of svcPedidoProductos.camposFormAtipico">
                                        <!--SELECT-->
                                        <div [class]="campo.cols" class="my-2"
                                            *ngIf="campo.tipo=='select' && svcPedidoProductos.frmProdLineaMovil.controls[i].get(campo.clave).disabled==false">
                                            <mat-form-field>
                                                <mat-label class="mx-1">{{campo.titulo2}} {{i+1}}</mat-label>
                                                <mat-icon matPrefix>sd_card</mat-icon>
                                                <mat-select [formControlName]="campo.clave" class="mx-1"
                                                    (selectionChange)=" svcPedidoProductos.cambioSelect(i, campo.clave, svcPedidoProductos.frmProdLineaMovil.controls[i].get(campo.clave).value)">
                                                    <ng-container *ngIf="campo.clave=='idPlan'">
                                                        <mat-option disabled>{{ campo.titulo }}</mat-option>
                                                        <mat-option
                                                            *ngFor=" let option of svcPedidoProductos.getPlanes(i, svcPedidoProductos.frmProdLineaMovil.value[i].idTipoProducto)"
                                                            [value]="option['idPlan']"
                                                            matTooltip="Este plan se encuentra inactivo"
                                                            [matTooltipDisabled]="option.estado=='Activo'">
                                                            {{ option.plan }}</mat-option>
                                                    </ng-container>
                                                </mat-select>
                                                <mat-icon matSuffix matTooltip="Este plan se encuentra inactivo"
                                                    *ngIf="svcPedidoProductos.planInactivo(svcPedidoProductos.frmProdLineaMovil.controls[i].get('idPlan').value)==true"
                                                    color="warn" class="mx-1">error</mat-icon>
                                                <mat-hint
                                                    *ngIf="svcPedidoProductos.planInactivo(svcPedidoProductos.frmProdLineaMovil.controls[i].get('idPlan').value)==true">
                                                    ¡El plan seleccionado se encuentra inactivo!</mat-hint>

                                                <button type="button" mat-icon-button matSuffix color="primary"
                                                    (click)="svcPedidoProductos.removerProducto(i, svcPedidoProductos.frmProdLineaMovil.controls[i]?.value.idTipoProducto)">
                                                    <mat-icon>close</mat-icon>
                                                </button>

                                                <mat-error
                                                    *ngIf="svcPedidoProductos.frmProdLineaMovil.controls[i].get(campo.clave).invalid && (svcPedidoProductos.frmProdLineaMovil.controls[i].get(campo.clave).dirty || svcPedidoProductos.frmProdLineaMovil.controls[i].get(campo.clave).touched)">
                                                    <mat-error
                                                        *ngIf="svcPedidoProductos.frmProdLineaMovil.controls[i].get(campo.clave).errors.required">
                                                        Este campo es obligatorio.</mat-error>
                                                    <mat-error
                                                        *ngIf="svcPedidoProductos.frmProdLineaMovil.controls[i].get(campo.clave).errors.maxlength">
                                                        Sobrepaso el numero maximo de caracteres.
                                                    </mat-error>
                                                    <mat-error
                                                        *ngIf="svcPedidoProductos.frmProdLineaMovil.controls[i].get(campo.clave).errors.email">
                                                        Ingrese un email valido.</mat-error>
                                                </mat-error>
                                            </mat-form-field>

                                        </div>
                                    </ng-container>

                                </div>

                            </ng-container>

                        </div>
                    </ng-container>
                </div>


            </ng-container>
        </div>
        <!--FORMULARIO COSTES-->
        <div class="row" formGroupName="pedidoCostes">
            <ng-container *ngFor="let campo of svcPedidoCostes.camposFormAtipico">
                <div *ngIf="campo.tipo=='text'" [class]="campo.cols">
                    <mat-form-field>
                        <mat-label class="mx-1">{{ campo.titulo }}</mat-label>
                        <mat-icon matPrefix *ngIf="campo.clave=='costeReal' || campo.clave=='costePromocional'"
                            style="font-size: medium">euro</mat-icon>
                        <input class="mx-1" [formControlName]="campo.clave" matInput />
                        <mat-error
                            *ngIf="svcPedidoCostes.form.get(campo.clave).invalid && (svcPedidoCostes.form.get(campo.clave).dirty || svcPedidoCostes.form.get(campo.clave).touched)">
                            <mat-error *ngIf="svcPedidoCostes.form.get(campo.clave).errors.required">Este
                                campo es obligatorio.</mat-error>
                            <mat-error *ngIf="svcPedidoCostes.form.get(campo.clave).errors.maxlength">
                                Sobrepaso el numero maximo de caracteres.</mat-error>
                            <mat-error *ngIf="svcPedidoCostes.form.get(campo.clave).errors.email">Ingrese un
                                email valido.</mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>

            </ng-container>
        </div>
    </div>

    <div mat-dialog-actions class="py-2 bg-light">
        <div class="row w-100 d-flex justify-content-end align-items-center">
            <ng-container *ngIf="svcLogin.getToken('login').idTipoUsuario!='1'">
                <div class="col-12 col-sm-6 col-md-3">
                    <mat-form-field>
                        <mat-select (selectionChange)="cambioCallCenter($event.value)"
                            placeholder="Seleccione CallCenter" [value]="flagCallCenter">
                            <mat-option value="0" disabled>Seleccione CallCenter</mat-option>
                            <ng-container *ngIf="callCentersPorUsuario$ | async as callCenters">
                                <mat-option *ngFor="let option of callCenters.Resultado"
                                    [value]="option['idCallCenter']">
                                    {{ option.descripcion }}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>
            </ng-container>
            <ng-container
                *ngIf="svcLogin.getToken('login').idTipoUsuario!='1' && svcPedido.pedidoCabecera.value.idPedido!=0">
                <div class="col-12 col-sm-6 col-md-3">
                    <mat-form-field>
                        <mat-select (selectionChange)="cambioEstadoPedido($event.value)" [value]="flagEstadoPedido">
                            <mat-option value="0" disabled>Seleccione Estado</mat-option>
                            <ng-container *ngIf="estadosPedidos$ | async as estadosPedidos">
                                <mat-option *ngFor="let option of estadosPedidos.Resultado"
                                    [value]="option['idEstadoPedido']">
                                    {{ option.descripcion }}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>
            </ng-container>
            <div class="col-12 col-sm-6 col-md-3">
                <button type="submit" mat-raised-button color="primary" class="w-100"
                    [disabled]="svcPedidoCabecera.form.value.idCallCenter == 0">
                    Enviar
                    <mat-icon>send</mat-icon>
                </button>
            </div>
        </div>
    </div>
</form>

<ng-container *ngIf="flagCampana==undefined">
    <div class="form-pedido">
        Cargando informacion...
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</ng-container>