<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<!--<a href="https://wrappixel.com/templates/materialpro-angular-dashboard/" class=" m-r-20 hidden-sm-up" mat-raised-button color="warn">Upgrade To Pro</a>-->

<!--CERRAR SESION-->
<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5"> <img src="assets/images/aldiProfile.jpg" alt="user" class="profile-pic"></button>
<mat-menu #profile="matMenu" class="mymegamenu">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{svcLogin.getToken('login')?.nombreCompleto}}</mat-card-title>
            <mat-card-subtitle>{{svcLogin.getToken('login')?.tipoUsuario}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions> 
            <button mat-menu-item (click)="cerrarSesion()">
                <mat-icon color="warn">exit_to_app</mat-icon> Cerrar Sesión
            </button>
        </mat-card-actions>
    </mat-card>
    <!--<button mat-menu-item>
        <mat-icon>settings</mat-icon> Settings </button>
    <button mat-menu-item>
        <mat-icon>account_box</mat-icon> Profile </button>
    <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon> Disable notifications </button>-->

</mat-menu>
