table {
    width: 100% !important;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  .div-btn-element-detail{
    position: absolute;
    right: 0;
    top: 0;
  }
  .btn-element-detail{
    background-color: #303030;
    color: #99abb4
  }

  .icono-crear-pedido-tit, .icono-crear-pedido {
    color: black;
  }
  .icono-crear-pedido{
    font-size: 16px;
  }
  .iconos-crear-pedido{
    background-color: aqua;
  }
  .img-firma{
    height: 300px !important;
  }