<div mat-dialog-title [style.background-color]="colorCampanaFondo" [style.color]="colorCampanaTexto" class="mat-elevation-z8">
    <div class="row w-100 py-2">
        <div class="col-10 align-items-center">
            <span class="col-12 col-md-4">{{
                svcPedidoCabecera.form.get("idPedido")?.value == 0
                  ?"Crear Pedido"
                  :"Editar Pedido"
              }}
                      en
                  </span>
             
                    <mat-form-field class="col-12 col-md-8" [formGroup]="svcPedido.pedidoCabecera">
                        <mat-select formControlName="idCampana" placeholder="Seleccione una Campaña">
                            <mat-option value=0 disabled>Seleccione una Campaña</mat-option>
                            <ng-container *ngIf="campanas">
                                <ng-container *ngFor="let option of campanas">
                                    <mat-option *ngIf="option.estado=='Activo'" [value]="option['idCampana']">
                                        {{ option.descripcion }}</mat-option>
                                </ng-container>
                                
                                
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
    
                  
                  
        </div>
        <div class="col-2 d-flex justify-content-end align-items-center">
            <button type="button" mat-fab color="primary" (click)="onClose()" tabIndex="-1">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    </div>
    
</div>
<form *ngIf="flagCampana != undefined && flagCampana != 0" [formGroup]="svcPedido.formGeneral" (submit)="onSubmit()">
       
    <div mat-dialog-content>
        <mat-accordion class="example-headers-align" multi>
    
            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                <mat-expansion-panel-header>
                    <div class="row w-100">
                    <div class="col-10 col-md-4">
                        <mat-panel-title class="w-100">
                            <span> Datos del Cliente </span>
                        </mat-panel-title>
                    </div>
                    <div class="col-2 col-md-8 px-0">
                            <mat-panel-description class="w-100">
                                <div class="col-md-10 d-none d-sm-none d-md-flex justify-content-start px-0">
                                    <span>
                                        Ingrese los datos personales del cliente
                                    </span>
                                </div>
                                <div class="col-12 col-sm-12 col-md-2 d-flex justify-content-end text-right px-0">
                                    <mat-icon class="ml-2">account_circle</mat-icon>
                                </div>
                        </mat-panel-description>  
                    </div>
                </div>
                </mat-expansion-panel-header>
    
                <!--FORMULARIO 1-->

                <app-reportesventas-form-cabecera></app-reportesventas-form-cabecera>

                <mat-action-row>
                    <button type="button" mat-button color="primary" (click)="nextStep()">
                        Siguiente
                    </button>
                </mat-action-row>
            </mat-expansion-panel>
    
            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                
                    <mat-expansion-panel-header>
                        <div class="row w-100">
                        <div class="col-10 col-md-4">
                            <mat-panel-title class="w-100">
                                <span> Archivos Adjuntos </span>
                            </mat-panel-title>
                        </div>
                        <div class="col-2 col-md-8 px-0">
                                <mat-panel-description class="w-100">
                                    <div class="col-md-10 d-none d-sm-none d-md-flex justify-content-start px-0">
                                        <span>
                                            Adjunte los archivos para la campaña seleccionada
                                        </span>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-2 d-flex justify-content-end text-right px-0">
                                        <mat-icon class="ml-2">
                                            attach_file
                                        </mat-icon>
                                    </div>
                            </mat-panel-description>  
                        </div>
                    </div>
                    </mat-expansion-panel-header>     
               
    
                <!--FORMULARIO 2-->
                <app-reportesventas-form-archivos></app-reportesventas-form-archivos>
    
                <mat-action-row>
                    <button type="button" mat-button color="warn" (click)="prevStep()">
                        Atrás
                    </button>
                    <button type="button" mat-button color="primary" (click)="nextStep()">
                        Siguiente
                    </button>
                </mat-action-row>
            </mat-expansion-panel>
    
            <mat-expansion-panel [expanded]="step===2" (opened)="setStep(2)" hideToggle>
                <mat-expansion-panel-header>
                    <div class="row w-100">
                    <div class="col-10 col-md-4">
                        <mat-panel-title class="w-100">
                            
                            <span> Productos</span>
                        </mat-panel-title>
                    </div>
                    <div class="col-2 col-md-8 px-0">
                            <mat-panel-description class="w-100">
                                <div class="col-md-10 d-none d-sm-none d-md-flex justify-content-start px-0">
                                    <span>
                                        Agregue los productos disponibles
                                    </span>
                                </div>
                                <div class="col-12 col-sm-12 col-md-2 d-flex justify-content-end text-right px-0">
                                    <mat-icon class="ml-2">add_ic_call</mat-icon>
                                    <mat-icon class="ml-2">tv</mat-icon>
                                </div>
                        </mat-panel-description>  
                    </div>
                </div>
                </mat-expansion-panel-header>
        
                <!--FORMULARIO 3 PRODUCTOS-->
                <app-reportesventas-form-productos></app-reportesventas-form-productos>

                <!--FORMULARIO COSTES-->
                <app-reportesventas-form-costes></app-reportesventas-form-costes>

                <mat-action-row>
                    <button type="button" mat-button color="warn" (click)="prevStep()">
                        Atrás
                    </button>
                </mat-action-row>
            </mat-expansion-panel> 
        </mat-accordion>
    </div>

<div mat-dialog-actions class="py-2 bg-light">
    <div class="row w-100 d-flex justify-content-end align-items-center">
        <ng-container  *ngIf="svcLogin.getToken('login').idTipoUsuario!='1'">
            <div class="col-12 col-sm-6 col-md-3">
                <mat-form-field>
                    <mat-select (selectionChange)="cambioCallCenter($event.value)" placeholder="Seleccione CallCenter" [value]="flagCallCenter">
                        <mat-option value="0" disabled>Seleccione CallCenter</mat-option>
                        <ng-container *ngIf="callCentersPorUsuario$ | async as callCenters">
                            <mat-option *ngFor="let option of callCenters.Resultado" [value]="option['idCallCenter']">
                                {{ option.descripcion }}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field> 
            </div>    
        </ng-container>
                <ng-container  *ngIf="svcLogin.getToken('login').idTipoUsuario!='1' && svcPedido.pedidoCabecera.value.idPedido!=0">
                    <div class="col-12 col-sm-6 col-md-3">
                        <mat-form-field>
                            <mat-select (selectionChange)="cambioEstadoPedido($event.value)" [value]="flagEstadoPedido">
                                <mat-option value="0" disabled>Seleccione Estado</mat-option>
                                <ng-container *ngIf="estadosPedidos$ | async as estadosPedidos">
                                    <mat-option *ngFor="let option of estadosPedidos.Resultado" [value]="option['idEstadoPedido']">
                                        {{ option.descripcion }}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field> 
                    </div>        
                </ng-container>
                <div class="col-12 col-sm-6 col-md-3">
                    <button type="submit" mat-raised-button color="primary" class="w-100"
                    [disabled]="svcPedido.formGeneral.invalid || svcPedidoCabecera.form.value.idCallCenter == 0">
                    Enviar
                        <mat-icon>send</mat-icon>
                    </button>
                </div>
    </div>
</div>
</form>


<ng-container *ngIf="flagCampana==undefined">
    <div class="form-pedido">
        Cargando informacion...
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</ng-container>

