<!--FORMULARIO COSTES-->
<div [formGroup] = "svcPedido.formGeneral">
    <div class="row" formGroupName="pedidoCostes">
        <ng-container *ngFor="let campo of svcPedidoCostes.camposForm">
                    <div *ngIf="campo.tipo=='text'" [class]="campo.cols">
                        <mat-form-field>
                            <mat-label>{{ campo.titulo }}</mat-label>
                            <mat-icon matPrefix *ngIf="campo.clave=='costeReal' || campo.clave=='costePromocional'" style="font-size: medium">euro</mat-icon>
                            <input [formControlName]="campo.clave" matInput/>
                            <mat-error
                                *ngIf="svcPedidoCostes.form.get(campo.clave).invalid && (svcPedidoCostes.form.get(campo.clave).dirty || svcPedidoCostes.form.get(campo.clave).touched)">
                                <mat-error *ngIf="svcPedidoCostes.form.get(campo.clave).errors.required">Este
                                    campo es obligatorio.</mat-error>
                                <mat-error *ngIf="svcPedidoCostes.form.get(campo.clave).errors.maxlength">
                                    Sobrepaso el numero maximo de caracteres.</mat-error>
                                <mat-error *ngIf="svcPedidoCostes.form.get(campo.clave).errors.email">Ingrese un
                                    email valido.</mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                
        </ng-container>
        </div>
</div>
